# 使用addressparser工具

In [1]:
import pandas as pd
import addressparser

data = pd.read_excel(r'地址.xlsx')
print(data.head())

   Unnamed: 0  客户ID  客户编码         客户名称   省份   城市  地址
0           1     1   123      富士康科技集团  广东省  深圳市 NaN
1           2     2    45   华德控股集团有限公司  浙江省  宁波市 NaN
2           3     3    78  凯利达科技股份有限公司  广东省  深圳市 NaN
3           4     4   910   华荣科技股份有限公司  广东省  深圳市 NaN
4           5     5    11   中建科技集团有限公司  广东省  深圳市 NaN

In [2]:
df = addressparser.transform(data["城市"])
print(df)

     省    市 区 地名
0  广东省  深圳市
1  浙江省  宁波市
2  广东省  深圳市
3  广东省  深圳市
4  广东省  深圳市

In [3]:
data["省份"] = df["省"]
#data["城市"] = df["市"]

In [4]:
print(data)

   Unnamed: 0  客户ID  客户编码         客户名称   省份   城市  地址
0           1     1   123      富士康科技集团  广东省  深圳市 NaN
1           2     2    45   华德控股集团有限公司  浙江省  宁波市 NaN
2           3     3    78  凯利达科技股份有限公司  广东省  深圳市 NaN
3           4     4   910   华荣科技股份有限公司  广东省  深圳市 NaN
4           5     5    11   中建科技集团有限公司  广东省  深圳市 NaN

In [5]:
data.to_excel("地址.xlsx")

# 高德API（高德开放平台）

In [8]:
import requests
import json

In [69]:
payload = {'key': '改为自己申请的地址', 'keywords': data["客户名称"][1]}
r = requests.get('https://restapi.amap.com/v3/place/text?parameters',params=payload)
txt = json.loads(r.text)
city = txt["suggestion"]["cities"][0]["name"]
print(city)

嘉兴市

In [ ]:
for id in range(len(data)):
    payload = {'key': '改为自己申请的地址', 'keywords': data["客户名称"][id]}
    r = requests.get('https://restapi.amap.com/v3/place/text?parameters',params=payload)
    txt = json.loads(r.text)
    try:
        #province = txt["suggestion"][0]["pname"]
        city = txt["suggestion"]["cities"][0]["name"]
        #data["省份"][id] = province
        data["城市"][id] = city 
    except:
        print(txt)

In [10]:
data

   Unnamed: 0  客户ID  客户编码         客户名称   省份   城市  地址
0           1     1   123      富士康科技集团  广东省  深圳市 NaN
1           2     2    45   华德控股集团有限公司  浙江省  宁波市 NaN
2           3     3    78  凯利达科技股份有限公司  广东省  汕头市 NaN
3           4     4   910   华荣科技股份有限公司  广东省  深圳市 NaN
4           5     5    11   中建科技集团有限公司  广东省  深圳市 NaN

In [73]:
data.to_excel("地址.xlsx")